<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display_AccessRecord</h1>

        <table border="3px">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>date</th>
                <th>author</th>
            </tr>

        {% for AO in QLAO %}
            <tr>
                <td>{{AO.id}}</td>
                <td>{{AO.name}}</td>
                <td>{{AO.date}}</td>
                <td>{{AO.author}}</td>
            </tr>


        {% endfor %}





        </table>
    </center>
</body>
</html>